*@font-face {
	font-family: 'MuseoSans';
	src: url('../fonts/MuseoSans.otf');
}
@font-face {
  font-family: 'Hanken-Light';
  src: url('../fonts/Hanken-Light.ttf');
}
body{
  background-color: rgba(0,0,0,0.9);
  color: #bbb;
}
h1, h2, h3, h4, a{
   font-family: 'Hanken-Light';
}
p{
  color: #bbb;
  font-family: 'Hanken-Light', sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
}
a:hover{
  text-decoration: none;
 }
 .btn .btn-success {
  background-color:  #a5a5a5;
  border-color: #a5a5a5;
  border-radius: 0 !important;
 }
/* .nav li{
   padding: 5px 15px;
 }
 .nav li a{
  border-radius: 0px;
  color: #a5a5a5;
  padding-left: 0;
  padding-right: 0; 
  }
.nav li a:hover{
  border-bottom: 2px solid #06bc55;
  transition: border 150ms cubic-bezier(0, 0.99, 1, 1);
  color: #696969;
  background-color: rgba(0,0,0,0);
}
.nav li a:visited,
.nav li a:focus{
  background-color:  rgba(0,0,0,0) !important;
  }
.nav-pills{
 	font-size: 1em;
 	font-weight: bold;  
 	padding-right: 20px;*/
 }
.btn-success{
  background-color: #a5a5a5 !important;
  border-radius: 0 !important;
  border-color:  #a5a5a5 !important;
}
.page-headline{
   font-size: 4.3rem !important;
   font-weight: 1000;
   color: #ccc;  
 }
.page-bg-info{
 	text-align: center;
 	color: #fff;
  /*padding: 20px; 
  padding-top: 19%;*/
}
.social-media{
  margin: 0 10px;
}
.social-media svg:hover{
  transform: scale(1.1);
  text-decoration: none;    
  color: #06bc55;
}
.social-media path:hover{
 transition: fill 170ms ease-in-out;
}
.pg-padding{
  padding: 3% 1%;
}
.pg-line-height{
  line-height: 3rem;
}
.footer{
  background-color: #000;
  padding: 20px;
  color: #aaa;
}
.work-img{
  width: 40%;
  height: auto;
}
.hire-me{
  background: url('../img/pc-glasses-1.jpg') no-repeat fixed;
  background-size: cover;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hire-me-info{
  width: 70em;
  color: #fff;
  padding-left: 8%;
  padding-right: 8%;
}
.hire-me-info h2{
  line-height: 4rem;
  font-size: 3.3rem;
}*/*/*/