@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.otf');
}
@font-face{
  font-family: 'JosefinSans';
  src: url('../fonts/JosefinSans.ttf');
}
h1, h2, h3, h4, a{
   font-family: 'Montserrat';
}
p{
  color: #6a6a6a;
  font-family: 'JosefinSans';
  font-weight: normal;
  font-size: 2.3rem;
}
a:hover{
  text-decoration: none;
 }
 .nav li{
   padding: 5px 15px;
 }
 .nav li a{
  border-radius: 0px;
  color: #a5a5a5;
  padding-left: 0;
  padding-right: 0; 
  }
.nav li a:hover{
  border-bottom: 2px solid #06bc55;
  transition: border 150ms cubic-bezier(0, 0.99, 1, 1);
  color: #696969;
  background-color: rgba(0,0,0,0);
}
.nav li a:visited,
.nav li a:focus{
  background-color:  rgba(0,0,0,0) !important;
  }
.nav-pills{
 	font-size: 1em;
 	font-weight: bold;  
 	padding-right: 20px;
  }
.pg-button{
  background-color: rgba(0,0,0,.2);
  border-radius: 0px;
  border: 1px solid #06bc55;
  padding: 10px;
  color: #fff;
  font-size: 1.1em;
  font-family: 'Montserrat';
  transition: scroll .5s ease-in-out;
  }
.pg-button:hover{
  background-color: #06bc55;  
  color: #eee;
  border: 0px solid inherit;
}
.pg-button:active, 
.pg-button:focus{
  color: #fff !important;
  background-color: #06bc55 !important;
  transition: scroll .5s ease-in-out;
  cursor: pointer;
  border-width: 0px !important;
}
#about{
  transition: scroll .5s ease-in-out;
}
.page-bg{
 	background: url('../img/boxes.jpg');
 	background-size: cover;
 	height: 700px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.page-headline{
   font-size: 5.3rem !important;
   font-weight: 1000;
   color: #fff;  
 }
.page-bg-info{
 	text-align: center;
 	color: #fff;
  padding: 20px; 
  padding-top: 19%;
}
.social-media{
  margin: 0 10px;
}
.social-media svg:hover{
  transform: scale(1.1);
  text-decoration: none;    
  color: #06bc55;
}
.social-media path:hover{
 transition: fill 170ms ease-in-out;
}
.pg-padding{
  padding: 3% 1%;
}
.pg-line-height{
  line-height: 3.4rem;
}
.footer{
  background-color: #000;
  padding: 20px;
  color: #aaa;
}
.work-img{
  width: 40%;
  height: auto;
}
.hire-me{
  background: url('../img/pc-glasses-1.jpg') no-repeat fixed;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hire-me-info{
  width: 70em;
  color: #fff;
  padding-left: 8%;
  padding-right: 8%;
}
.hire-me-info h2{
  line-height: 4rem;
  font-size: 3.3rem;
}